* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: auto;
}

body {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: gray;
}